@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei UI", sans-serif;
}

body {
	font-size: 16px;
	background-color: #ddd;
}

header {
	width: 100%;
	min-width: 240px;
	height: 4rem;
	background-color: black;
}

.header-logo {
	position: absolute;
	left: 1rem;
}

header img {
	position: absolute;
	width: 10rem;
	height: 3rem;
	top: .5rem;
	left: 0;
}

header h1 {
	position: absolute;
	width: 9rem;
	top: .5rem;
	left: 10rem;
	color: white;
}

header nav {
	position: absolute;
	top: 1.5rem;
	right: 0;
}

header li {
	float: left;
	margin-right: .75rem;
	margin-left: .75rem;
	font-size: .875rem;
	color: white;
}

@media screen and (max-width:640px) {
	header {
		height: 6rem;
		text-align: center;
	}

	.header-logo {
		position: relative;
		display: inline-block;
		margin: 0 auto;
	}

	header img,
	header h1 {
		top: -.5rem;
	}

	header nav {
		position: relative;
		top: 4rem;
		display: inline-block;
		margin: 0 auto;
	}

	header li {
		font-size: 0.75rem;
	}

}

header a {
	text-decoration: none;
}

header a:link {
	color: white;
}

header a:visited {
	color: lightgray;
}

header a:focus {
	color: paleturquoise;
}

header a:hover {
	color: aqua;
}

header a:active {
	color: deepskyblue;
}

article {
	margin: 1rem;
	padding: 1rem 1rem 2rem 1rem;
	background-color: white;
	border: .1rem solid lightgray;
	box-shadow: .1rem .1rem gray;
}

.subtitle {
	margin-top: .5rem;
	color: gray;
}

.author_time {
	margin-top: .5rem;
	color: darkgray;
}

.para {
	margin-top: 1rem;
	line-height: 1.5rem;
	text-indent: 2rem;
}

.img {
	margin-top: 1rem;
}

article li {
	margin-top: 1rem;
	margin-left: 2rem;
}

#art_2 li {
	list-style: none;
}

#art_4 li {
	margin-left: 3.5rem;
}

article figure {
	width: 14rem;
	margin: 1.5rem 3rem;
	border: .1rem solid lightgray;
}

article figcaption {
	margin: .5rem 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

figure img {
	margin: 1rem;
}

article table {
	width: 100%;
	margin-top: 1rem;
	background-color: lightgray;
}

article tr {
	line-height: 1.5rem;
}

article th,
article td {
	padding-left: 0.5rem;
}

article thead {
	color: white;
	text-align: left;
	background-color: black;
}

article tbody {
	background-color: white;
}

article tfoot {
	font-weight: bold;
	background-color: lightgray;
}

aside {
	margin: 1rem;
	padding: 1rem;
	background-color: white;
	border: .1rem solid lightgray;
	box-shadow: .1rem .1rem gray;
}

aside table {
	width: 90%;
	table-layout: fixed;
}

aside tr {
	line-height: 2.5rem;
}

aside th {
	width: 40%;
	text-align: right;
	vertical-align: top;
}

.reg_tips {
	color: lightgray;
}

aside textarea {
	width: 100%;
}

#reg_submit {
	width: 100%;
	height: 2.5rem;
	margin: 1rem 0;
	font-size: 1.2rem;
	color: white;
	background-color: mediumblue;
	border: 0;
	border-radius: 0.5rem;
}

footer {
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	color: white;
	text-align: center;
	background-color: black;
}